.crousal-container {
  display: flex;
  align-items: center;
}
.c-c-inner {
  position: absolute;
  width: 100%;
  height: 25rem;
  z-index: 2;
  opacity: 0.2;
  background: linear-gradient(black, white, black);
}
.crousal-img {
  object-fit: fill;
  width: 100%;
  height: 25rem;
}
.crousal-container button {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 2px;
  border-radius: 50%;
  z-index: 3;
}
.crousal-left-btn {
  left: 5px;
}
.crousal-right-btn {
  right: 5px;
}
.crousal-container button:hover {
  background-color: rgba(0, 0, 0, 0.274);
}
