.navbar {
  background-color: #d6c0b3;
  display: flex;
  align-items: center;
  height: 4rem;
  font-size: 1.2rem;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  justify-content: space-between;
}
.navbar-logo {
  margin: 0 20px;
}
.navbar-logo img {
  width: 4rem;
  filter: drop-shadow(1px 1px 8px rgba(0, 0, 0, 0.486));
}
.navbar-ul-element {
  display: flex;
  margin: 0 20px;
}
.navbar-ul-element a {
  margin: 0 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.795);
  position: relative;
}
.navbar-yourbooking-no {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: aliceblue;
  background-color: #ff0000ad;
  z-index: 111;
}
